@import "bootstrap";
@import 'bootstrap/theme';
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
#bb
{
  display: none;
}
#show
{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 40px;
  float: left;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;  
}

#photos-list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  clear: both;
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 272px;
    max-height: 272px;
    margin-bottom: 10px;
    text-align: center;
    img {
      margin-bottom: 10px;
    }
    p {
      margin: 0;
      height: 40px;
      overflow: hidden;
    }
  }
}

.progress-wrapper {
  display: none;
}



#footer {
  margin-top: 60px;
}